@import "base-styles/variables";

.hole-container  {
  display: inline-block;
}

.hole {
  width: 200px;
  height: 100px;
  margin: 20px 20px 50px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 200px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
  }

  .hole-mask  {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
}

.frog {
  background-color: green;
  width: 150px;
  height: 100px;
  margin: 0 25px;
  border-radius: 50% 50% 0 0;
  position: absolute;
  bottom: -100px;
  transition: 0.5s;

  &.up {
    bottom: -30px;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #111;
    position: absolute;
    top: 0;
    border: 4px solid green;
    box-shadow: inset 0px 22px 3px -15px #fff, inset 0px -22px 3px -15px #fff;
  }

  &::before {
    left: 20px;
  }

  &::after {
    right: 20px;
  }
}
